<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cyanide.GRMS.dao.ext.IResultDAO">
    <select id="findAllResults" resultType="top.cyanide.GRMS.pojo.Result">
        select *
        from grms.results r
        <if test="userId!=null">
            <where>
                r.user_id = #{userId,jdbcType=INTEGER}
            </where>
            order by r.exp desc
        </if>
    </select>
</mapper>
